<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/stylesheet/header.css}" type="text/css"/> <!-- style -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> <!-- font -->
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body class>
<header class="all-headerbody">
    <a href="/"><img alt="" class="logo" src="/img/Logo.png"></a>

    <ul class="nav-menu" th:with="accesso = ${@personaAutenticata.persona.isEmpty()}">
        <li><a href="/cittadinanzaDigitale" th:if="${!accesso}">Privacy</a>

        </li>
        <li><a href="/cittadinanzaDigitale" th:if="${!accesso}">Cittadinanza digitale</a></li>
        <li>
            <a href="/login" th:if="${accesso}">Accesso</a>
            <a href="/auth/areaPersonale" th:if="${!accesso}">Area personale</a>
        </li>
    </ul>

    <div class="boh">
        <ul>
            <li><a>Racconti</a></li>
            <li><a>Lezioni</a></li>
            <li><a>Giochi</a></li>
        </ul>
    </div>

    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

</header>


<script th:src="@{/js/header.js}"></script>
</body>
</html>