<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Lista giochi</title>
    <link rel="stylesheet" th:href="@{/stylesheet/giochi.css}" type="text/css"/>
    <link href="/img/Logo.png" rel="shortcut icon"/>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="gioco">
    <section>
        <div class="box">
            <h3>Lista dei giochi</h3>

            <th:block th:each="gioco: ${giochi}">
                <div class="list">

                    <div class="imgBox">
                        <img alt="" th:src="@{/icona(idMetaInfo=${gioco.metaInfo.id})}">
                    </div>

                    <div class="contentBox">
                        <h4 th:text="${gioco.nome}"></h4>
                        <p th:text="${gioco.metaInfo.keyword}"></p>

                    </div>
                </div>
            </th:block>

        </div>
    </section>
    <div class="giocoPos"></div>
</div>
<th:block th:include="fragments/footer"></th:block>
</body>
</html>