<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Homepage</title>
    <link href="/stylesheet/homepage.css" rel="stylesheet"> <!-- style -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> <!-- font -->
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
          rel="stylesheet">

    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          referrerpolicy="no-referrer" rel="stylesheet"/>

</head>
<body>

<th:block th:include="fragments/header"></th:block>

<section id="banner">
    <div class="banner-text">
        <h1>Benvenuto!</h1>
        <p>Sei su DARN, il sito che ti aiuta a imparare come si proteggono i dati su Internet. <br>Che tu sia un
            insegnate, uno studente o nessuno di questi
            qui puoi imparare a gestire le tue informazioni.
        </p>
        <div class="banner-btn">
            <a href="/login">Inizia ora</a>
        </div>
    </div>
</section>


<div class="lobby">
    <div class="alltext">
        <h1>Scopri i nostri contenuti</h1>
        <p>Impara con noi a prenderti cura della tua privacy usufruendo <br> delle nostre funzionalità! </p>
    </div>
    <div class="allcont">
        <div class="cardhome">
            <div class="card">
                <a href="/racconti"><img alt="" src="/img/paper.png">
                    <h2>RACCONTI</h2></a>
                <p>I racconti spiegano ai più piccoli <br> i concetti fondamentali della privacy online.</p>
            </div>
            <div class="card">
                <a href="/utente/lezioni"><img alt="" src="/img/shield.png">
                    <h2>LEZIONI</h2></a>
                <p>Impara a proteggerti online <br>tramite le nostre lezioni.</p>
            </div>
            <div class="card">
                <a href=""><img alt="" src="/img/search.png">
                    <h2>TEST</h2></a>
                <p>I test ti permettono di verficare <br>le tue conoscienze.</p>
            </div>
            <div class="card">
                <a href=""><img alt="" src="/img/cyber-security.png">
                    <h2>GIOCHI</h2></a>
                <p>Utilizza i nostri lesson <br>games per affinare le tue conoscenze.</p>
            </div>

        </div>
    </div>
</div>

<th:block th:include="fragments/footer"></th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</body>
</html>