<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Lista Lezioni</title>
    <link rel="stylesheet" th:href="@{/stylesheet/listaLezioni.css}" type="text/css"/>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="lezioni">

    <h1 class="livello">Le tue lezioni</h1>
    <p>Qui sono riportate le nostre lezioni sugli argomenti da te sbagliati al test.</p>

    <th:block th:each="instance: ${lezioniPerMetaInfo}">
        <div class="box">

            <h2 th:text="${instance.key.keyword}"></h2>
            <ul>
                <th:block th:each="arg, istat: ${instance.value}">
                    <li><span th:text="${istat.count}"></span> <a
                            th:href="@{/auth/visualizzazioneLezione(id=${arg.id})}"
                            th:text="${arg.titolo}"></a></li>
                </th:block>
            </ul>
        </div>
    </th:block>


</div>
<th:block th:include="fragments/footer"></th:block>
</body>
</html>