<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Racconti</title>
    <link rel="stylesheet" th:href="@{/stylesheet/listaRacconti.css}" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="pageRacconti">

    <div class="principale">
        <h1>Leggi nostri racconti!</h1>
        <p>Qui trovi le nostre favole per facilitare l'apprendimento dei più piccoli sugli argomenti della privacy
            online.</p>
    </div>

    <div class="racconto">

        <a href="/racconto">
            <div class="cardracconto">
                <input name="" type="checkbox">
                <div class="toggleracconto">+</div>
                <div class="imageracconto">
                    <img alt="" src="/img/lily.png" srcset="">
                </div>

                <div class="textRacconto">
                    <h2>Il diario segreto di Lily <i class="fa-solid fa-book fa-bounce"></i></h2>
                </div>
            </div>
        </a>

        <a href="/racconto">
            <div class="cardracconto">
                <input id="" name="" type="checkbox">
                <div class="toggleracconto">+</div>
                <div class="imageracconto">
                    <img alt="" src="/img/lily.png" srcset="">
                </div>

                <div class="textRacconto">
                    <h2>Il diario segreto di Lily <i class="fa-solid fa-book fa-bounce"></i></h2>
                </div>
            </div>
        </a>

        <a href="/racconto">
            <div class="cardracconto">
                <input name="" type="checkbox">
                <div class="toggleracconto">+</div>
                <div class="imageracconto">
                    <img alt="" src="/img/lily.png" srcset="">
                </div>

                <div class="textRacconto">
                    <h2>Il diario segreto di Lily <i class="fa-solid fa-book fa-bounce"></i></h2>
                </div>
            </div>
        </a>
        <a href="/racconto">
            <div class="cardracconto">
                <input name="" type="checkbox">
                <div class="toggleracconto">+</div>
                <div class="imageracconto">
                    <img alt="" src="/img/lily.png" srcset="">
                </div>

                <div class="textRacconto">
                    <h2>Il diario segreto di Lily <i class="fa-solid fa-book fa-bounce"></i></h2>
                </div>
            </div>
        </a>
    </div>
</div>
<th:block th:include="fragments/footer"></th:block>
</body>
</html>