<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meta-info</title>
    <link rel="stylesheet" th:href="@{/stylesheet/modificaMetaInfo.css}" type="text/css"/>
</head>
<th:block th:include="fragments/header"></th:block>
<body>
<div class="modifica" id="modArg">
    <h2>Meta-info</h2>
    <div class="daticard">
        <form action="" method="post">
            <label for="titolo">Keyword:</label>
            <input class="input" id="titolo" name="keyword" type="text">
            <div class="lala">
                <label class="label" for="livello">Livello:</label>
                <div class="custom-select">
                    <select id="livello" name="livello">
                        <option value="-1">Inserire</option>
                        <th:block th:each="meta: ${metaInfo}">
                            <option th:text="${meta.keyword}" th:value="${meta.id}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <input onclick="validateMeta(this)" type="submit" value="COMPLETATO">
        </form>
    </div>
</div>
<div class="contsnack">
    <div id="snackbar"></div>
</div>

</body>
<th:block th:include="fragments/footer"></th:block>
<script th:src="@{/js/select.js}"></script>
</html>