<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Domanda</title>
    <link rel="stylesheet" th:href="@{/stylesheet/modificaDomanda.css}" type="text/css"/>
</head>
<th:block th:include="fragments/header"></th:block>
<body>
<div class="modifica" id="modArg">
    <h2>Domanda</h2>
    <div class="daticard">
        <span class="etichetta"></span>
        <form action="/admin/inserimentoArgomento" enctype="multipart/form-data" method="post">
            <label for="testo">Testo:</label>
            <input class="input" id="testo" name="testo" type="text">
            <div class="lala">
                <label class="label" for="meta">Meta-info:</label>
                <div class="custom-select">
                    <select id="meta" name="metaInfoId">
                        <option value="-1">Inserire</option>
                        <th:block th:each="meta: ${metaInfo}">
                            <option th:text="${meta.keyword}" th:value="${meta.id}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <label for="testo">Risposta corretta:</label>
            <input class="input" id="corretta" name="corretta" type="text">
            <label for="sbagliata1">Prima risposta sbagliata:</label>
            <input class="input" id="sbagliata1" name="sbagliata1" type="text">
            <label for="sbagliata2">Seconda risposta sbagliata:</label>
            <input class="input" id="sbagliata2" name="sbagliata2" type="text">
            <label for="sbagliata3">Terza risposta sbagliata:</label>
            <input class="input" id="sbagliata3" name="sbagliata3" type="text">
            <input type="submit" value="COMPLETATO">
        </form>
    </div>
</div>
</body>
<th:block th:include="fragments/footer"></th:block>
<script th:src="@{/js/select.js}"></script>

</html>