<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/stylesheet/test.css}" type="text/css"/>

    <title>Registraion Form</title>
</head>
<body>

<div class="test">
    <form action="#" class="form">
        <h1 class="text-center">Test di BASE</h1>
        <!-- Progress bar -->
        <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step progress-step-active" data-title=""></div>
            <div class="progress-step" data-title=""></div><!--da ripetere-->
            <div class="progress-step" data-title=""></div>
        </div>

        <!-- Steps -->
        <div class="form-step form-step-active">
            <p>Ciao nome. Stai per sostenere il test LIVELLO, su argomenti visti a lezione nella tua area personale.
                <br>
                Se sei pronto premi pure su avanti. </p>
            <div class="plus">
                <a class="btn btn-next width-50 ml-auto" href="#">Avanti</a>
            </div>
        </div>
        <div class="form-step"> <!--da qui-->
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="3" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="3" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="3" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="3" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="4" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="4" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="4" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="4" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="btns-group">
                <a class="btn btn-prev" href="#">Indietro</a>
                <a class="btn btn-next" href="#">Avanti</a>
            </div>
        </div><!--a qui-->


        <div class="form-step">
            <p style="margin-bottom: 100px">Hai completato il test.
                <br>
                Sicuro di volerlo inviare? </p>

            <div class="btns-group">
                <a class="btn btn-prev" href="#">Indietro</a>
                <input class="btn" type="submit" value="Invia"/>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/js/test.js}"></script>
</body>
</html>