<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error Page</title>
    <link rel="stylesheet" href="error.css">
</head>
<body>

    <div class="bigcont">
        <div class="errorcont">
            <div class="details">
                <h1>404</h1>
                <h2>Siamo spiacenti, ma la oagina da te cercata sembra non esistere!</h2>
            </div>
            <div class="btnerr">
                <a href="" class="btnhome">Homepage</a>
            </div>
        </div>
    </div>

</body>


</html>