<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>404 Error Page</title>
    <link href="/stylesheet/error.css" rel="stylesheet">
</head>
<body>

<div class="bigcont">
    <div class="errorcont">
        <div class="details">
            <h1>404</h1>
            <h2>Siamo spiacenti, ma la oagina da te cercata sembra non esistere!</h2>
        </div>
        <div class="btnerr">
            <a class="btnhome" href="">Homepage</a>
        </div>
    </div>
</div>

</body>


</html><!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>404 Error Page</title>
    <link href="/stylesheet/error.css" rel="stylesheet">
</head>
<body>

<div class="bigcont">
    <div class="errorcont">
        <div class="details">
            <h1>404</h1>
            <h2>Siamo spiacenti, ma la pagina da te cercata sembra non esistere!</h2>
        </div>
        <div class="btnerr">
            <a class="btnhome" href="">Homepage</a>
        </div>
    </div>
</div>

</body>


</html>