<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login</title>
    <link href="/stylesheet/login.css" rel="stylesheet"> <!-- style -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> <!-- font -->
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>

<div class="cont">
    <div class="login-cont">
        <div class="box sigin">
            <h2>Hai già un account?</h2>
            <button class="siginBtn">Accedi</button>
        </div>
        <div class="box sigup">
            <h2>Non hai un account?</h2>
            <button class="sigupBtn">Registrati</button>
        </div>

        <div class="formBox">
            <div class="form siginform">
                <form>
                    <h2 class="Log">Login</h2>
                    <input id="LogEmail" placeholder="Email" th:required="required" type="email">
                    <input id="passwordLog" placeholder="Password" th:required="required" type="password">
                    <div class="occhio" onclick="showHide(true)"><img
                            alt="" id="occhioLog"
                            src="/img/view.png"></div>
                    <input class="LogBtn" onclick="return validate(this)" type="submit" value="ACCEDI">
                </form>
            </div>

            <div class="form sigupform">
                <form action="">
                    <h2 class="Reg">Registrazione</h2>
                    <input id="RegEmail" placeholder="Email" required type="email">
                    <input id="passwordReg" placeholder="Password" required type="password">
                    <div class="occhio2" onclick="showHide(false)"><img
                            alt="" id="occhioReg"
                            src="/img/view.png"></div>
                    <input id="RegNome" placeholder="Nome" required type="text">
                    <input id="RegCognome" placeholder="Cognome" required>
                    <input class="RegBtn" onclick="return validateAll(this)" type="submit" value="REGISTRATI">
                    <!-- Aggiungere la lettura della privacy -->
                </form>
            </div>
        </div>
    </div>
</div>


<div class="contsnack">
    <div id="snackbar"></div>
</div>


</body>

<script src="/js/login.js"></script>

</html>