<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/stylesheet/test.css" rel="stylesheet"/>
    <script defer src="/js/test.js"></script>
    <title>Registraion Form</title>
</head>
<body>

<div class="test">
    <form action="#" class="form">
        <h1 class="text-center">Test di BASE</h1>
        <!-- Progress bar -->
        <div class="progressbar">
            <div class="progress" id="progress"></div>

            <div
                    class="progress-step progress-step-active"
                    data-title=""
            ></div>
            <div class="progress-step" data-title=""></div>
            <div class="progress-step" data-title=""></div>
            <div class="progress-step" data-title=""></div>
        </div>

        <!-- Steps -->
        <div class="form-step form-step-active">
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="1" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="1" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="1" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="1" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="2" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="2" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="2" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="">
                <a class="btn btn-next width-50 ml-auto" href="#">Avanti</a>
            </div>
        </div>
        <div class="form-step">
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="3" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="3" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="3" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="3" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="4" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="4" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="4" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="4" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="btns-group">
                <a class="btn btn-prev" href="#">Indietro</a>
                <a class="btn btn-next" href="#">Avanti</a>
            </div>
        </div>
        <div class="form-step">
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="5" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="5" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="5" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="5" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="6" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="6" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="6" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="6" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="btns-group">
                <a class="btn btn-prev" href="#">Indietro</a>
                <a class="btn btn-next" href="#">Avanti</a>
            </div>
        </div>
        <div class="form-step">
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="input-group">
                <p>dhakjhdkashdlka</p>
                <label class="container">Two
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Two
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Three
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Four
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="btns-group">
                <a class="btn btn-prev" href="#">Indietro</a>
                <input class="btn" type="submit" value="Invia"/>
            </div>
        </div>
    </form>
</div>

</body>
</html>