<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifica</title>
    <link rel="stylesheet" th:href="@{/stylesheet/modificaUtente.css}" type="text/css"/>
</head>
<body>
<div class="modifica" id="mod">
    <div class="daticard">
        <span class="etichetta"></span>
        <form action="">
            <label for="email">Email:</label>
            <input class="input" id="email" name="email" required type="email">
            <input class="input" id="email_v" name="email" style="display:none" type="email">
            <label for="nome">Nome:</label>
            <input class="input" id="nome" name="nome" required type="text">
            <label for="nome">Cognome:</label>
            <input class="input" id="cognome" name="cognome" required type="text">
            <label for="nome">Password attuale:</label>
            <input class="input" id="p_vecchia" name="p_vecchia" required type="password">
            <div class="occhio" onclick="showHide(true)"><img
                    alt="" id="occhio_vecchio"
                    src="view.png"></div>
            <label for="nome">Password nuova:</label>
            <input class="input" id="p_nuova" name="p_nuova" required type="password">
            <div class="occhio2" onclick="showHide(false)"><img
                    alt="" id="occhio_nuovo"
                    src="view.png"></div>
            <input onclick="return validate(this)" type="submit" value="COMPLETATO">
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script th:src="@{/js/modificaUtente.js}"></script>
</body>
</html>