* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

:root {
    --bg-color: #121b37;
    --text-color: #f2f2f2;
    --main-color: #30478c;
    --second-color: #273a73;
    --notify-color: #5b6ed9;
    --white-color: white;
    --aggiuntivo1: #33df3c;
    --aggiuntivo2: #ffa900;
    --aggiuntivo3: red;
    --aggiuntivo4: #b700ff;
}


.racconto {
    min-height: 200vh;
    background-color: var(--second-color);
}

.bannerRacconto {
    height: 80vh;
}

.banner-text {
    text-align: center;
    color: var(--white-color);
    padding: 180px 0;
}

.banner-text h1 {
    font-size: 125px;
}

.racconto .raccontoText p {
    /* justify-content: center; */
    text-align: justify;
    /* color: var(--bg-color); */
}

.raccontoText {
    /* display: flex; */
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    padding: 0 10%;
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 210px;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    margin: 22px;
}

@media (max-width: 1285px) {
    .banner-text h1 {
        font-size: 80px;
    }
}

@media (max-width: 600px) {
    .banner-text h1 {
        font-size: 60px;
    }

    .raccontoText {
        padding: 0 13px;
    }
}
