* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

:root {
    --bg-color: #121b37;
    --text-color: #f2f2f2;
    --main-color: #30478c;
    --second-color: #273a73;
    --notify-color: #5b6ed9;
    --white-color: white;
    --aggiuntivo1: #33df3c;
    --aggiuntivo2: #ffa900;
    --aggiuntivo3: red;
    --aggiuntivo4: #b700ff;
}


.all-canc {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #282828c4), url(/img/backgroundLogo.png);
    display: none;
}

.cancella {
    width: 45%;
    height: 250px;
    text-align: center;
    padding: 70px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: var(--white-color);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

.textcancella p {
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-color);
}

.textcancella h1 {
    color: var(--notify-color);
    margin-bottom: 20px;
}

.textcancella {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: var(--bg-color);
}

.btn-canc {
    margin-top: 10px;
}

.btn-canc .elimina {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    padding: 12px 0;
    color: var(--white-color);
    background-color: var(--notify-color);
    border: 3px solid var(--notify-color);
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin: 5px;
}

.btn-canc .elimina:hover {
    background-color: var(--white-color);
    color: var(--notify-color);
}

