* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}

:root {
    --bg-color: #121b37;
    --text-color: #f2f2f2;
    --main-color: #30478c;
    --second-color: #273a73;
    --notify-color: #5b6ed9;
    --white-color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--second-color);
    transition: 1s;
}

.slide {
    background-color: var(--notify-color);
}

.login-cont {
    position: relative;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-cont .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
}

.login-cont .box h2 {
    color: var(--text-color);
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 20px;
}

.login-cont .box button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 150ms linear;
    outline: none;
}

.siginBtn {
    color: var(--text-color);
    background-color: var(--notify-color);
    border: 3px solid var(--notify-color);
}

.sigupBtn {
    color: var(--text-color);
    background-color: var(--second-color);
    border: 3px solid var(--second-color);
}

.siginBtn:hover {
    background-color: var(--text-color);
    color: var(--notify-color);
    border: 3px solid var(--notify-color);
}

.sigupBtn:hover {
    background-color: var(--text-color);
    color: var(--second-color);
    border: 3px solid var(--second-color);
}

.sigin {
    background-color: var(--second-color);
}

.sigup {
    background-color: var(--notify-color);
}

.formBox {
    position: absolute;
    width: 350px;
    height: 480px;
    background-color: var(--text-color);
    left: 50px;
    z-index: 1000;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    overflow: hidden;
}

.slide .formBox {
    left: 400px;
}

.formBox .form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    transition: 0.5s;
}

.formBox .form.sigupform {
    top: 100%;
}

.slide .formBox .form.sigupform {
    top: 0;
}

.formBox .form.siginform {
    top: 0;
}

.slide .formBox .form.siginform {
    top: -100%;
}

.formBox .form form {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;
}

.formBox .form form h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.formBox .form form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    font-size: 0.8em;
    border: 1px solid #121b37;
    letter-spacing: 0.1em;
}

.formBox .form form input::placeholder {
    text-transform: uppercase;
}

.formBox .form form input[type="submit"] {
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

.Log {
    color: var(--notify-color);
}

.Reg {
    color: var(--second-color);
}

.LogBtn {
    background-color: var(--notify-color);
    transition: all 150ms linear;
}

.LogBtn:hover {
    opacity: 0.8;
}

.RegBtn {
    background-color: var(--second-color);
    transition: all 150ms linear;
}

.RegBtn:hover {
    opacity: 0.8;
}

.occhio {
    position: absolute;
    top: 51%;
    transform: translate(-50%);
    right: 45px;
    width: 25px;
    height: 25px;
    z-index: 10000000;
    display: flex;
    cursor: pointer;
}

.occhio2 {
    position: absolute;
    top: 40%;
    transform: translate(-50%);
    right: 45px;
    width: 25px;
    height: 25px;
    z-index: 10000000;
    display: flex;
    cursor: pointer;
}

@media (max-width: 991px) {

    .cont {
        max-width: 450px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-cont {
        top: 0;
        height: 100%;
    }

    .formBox {
        height: 500px;
        top: 0;
        width: 100%;
        left: 0;
    }

    .login-cont .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;

    }

    .box.sigin {
        top: 0;
    }

    .slide .formBox {
        left: 0;
        top: 150px;
    }

}

.contsnack {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}


#snackbar {
    visibility: hidden;
    width: 400px;
    margin-left: -125px;
    background-color: #33383b;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    font-size: 14px;
    z-index: 1;
    left: 47%;
    bottom: 30px;
}


#snackbar.show {
    visibility: visible;
}

