* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}

:root {
    --bg-color: #121b37;
    --text-color: #f2f2f2;
    --main-color: #30478c;
    --second-color: #273a73;
    --notify-color: #5b6ed9;
    --white-color: white;
}

.input {
    width: 80%;
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    font-size: 0.8em;
    border: 1px solid #121b37;
    letter-spacing: 0.1em;
}


.modifica form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.modifica form label {
    text-align: left;
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--notify-color);
}

.modifica input[type="submit"] {
    border: 3px solid var(--notify-color);
    color: var(--white-color);
    cursor: pointer;
    background: var(--notify-color);
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
    transition: all 150ms linear;
}

.modifica input[type="submit"]:hover {
    background-color: var(--white-color);
    color: var(--notify-color);
}

.modifica {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #282828c4), url(/img/backgroundLogo.png);
    background-size: contain;
}

.daticard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 650px;
    background-color: var(--white-color);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

.daticard .etichetta {
    position: absolute;
    top: -18px;
    left: -10px;
    width: 150px;
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.daticard .etichetta::before {
    position: absolute;
    width: 150%;
    height: 40px;
    background-color: var(--notify-color);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 600;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.etichetta .lez {
    content: 'lezione';
}

.etichetta .rac {
    content: 'racconto';
}



